<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826863544785-s9ktski77vvh1vnh6b1an8ilagobs20u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826863544785-s9ktski77vvh1vnh6b1an8ilagobs20u</string>
	<key>API_KEY</key>
	<string>AIzaSyAuq3RxdUMLQh__u_wJ15mr5Xa4NTErtOg</string>
	<key>GCM_SENDER_ID</key>
	<string>826863544785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ivanKhudyakovTwitterTutorial</string>
	<key>PROJECT_ID</key>
	<string>twittertutorial-f8a94</string>
	<key>STORAGE_BUCKET</key>
	<string>twittertutorial-f8a94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826863544785:ios:cdd851c0ca142708c9d8f0</string>
</dict>
</plist>